version: "3.9"

services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    command:
      - start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: dev-mem
    ports:
      - "8080:8080"
